<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :points %>
    <%= form.text_field :points %>
  </div>

  <div class="form-group">
    <%= form.label :skill_ids %>
    <%= form.select(:skill_ids, options_from_collection_for_select(@skills, :id, :name, user_skill_id(@user)), {:include_blank => "None", :class => "form-control"}) %>
  </div>

  
  <%= form.submit "Save", :class => "btn btn-primary" %>

<% end %>