<% content_for :h1, "Skills" %>

<p id="notice"><%= notice %></p>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Parent</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td><%= parent_name(skill) %></td>
          <td><%= link_to 'Show', skill, :class => "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_skill_path(skill), :class => "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'New Skill', new_skill_path, :class => "btn btn-primary" %>