<% content_for :h1, "Skill" %>

<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @skill.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= parent_name(@skill) %>
  </p>
</div>

<%= link_to 'Edit', edit_skill_path(@skill), :class => "btn btn-warning" %>
<%= link_to 'Back', skills_path, :class => "btn btn-success " %>
