<% content_for :h1, "Home" %>

<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Points</th>
        <th>Users Count</th>
      </tr>
    </thead>

    <tbody>
      <% @parent_skills_info.each do |parent_skill, infos| %>
        <tr>
          <td><%= parent_skill.id %></td>
          <td><%= parent_skill.name %></td>
          <td><%= infos[:points] %></td>
          <td><%= infos[:users_count] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>